@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-slate-900 transition-colors duration-300;
  }

  body.dark {
    @apply bg-background-dark text-slate-100;
  }
}